---
layout: default
---
<!--about me start-->
{% include sections/about.html %}
<!--about me end-->
<!--technical start-->
{% include sections/skills.html %}
<!--technical end-->
<!--exprience start-->
{% include sections/experiencia.html %}
<!--exprience end-->
<!--education start-->
{% include sections/educacao.html %}
<!--education end-->
<!--protfolio start-->
{% include sections/portfolio.html %}
<!--protfolio end-->
<!--contact start-->
{% include sections/contacto.html %}
{% include sections/contactodetalhes.html %}
<!--contact end-->