<section class="contact" id="contact">
    <div class="container topCon">
        <div class="heading">
            <h2>Vamos lá falar</h2>

            <p>Estou disponível se estiver interessado em trocar ideias.</p>
        </div>
    </div>
    <div class="row mapArea">
        <!--<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=-37.817682,144.957595&amp;spn=0.01134,0.026157&amp;t=m&amp;z=16&amp;output=embed"></iframe>-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20291.940042961454!2d32.57233116365581!3d-25.963379552225593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2smz!4v1439763674775" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3587.085754089969!2d32.57282470000002!3d-25.965227799999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ee69b02e4edf3cd%3A0xa2f1ebd739e4b240!2sAv.+24+de+Julho%2C+Maputo!5e0!3m2!1spt-PT!2smz!4v1439763495958" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
    </div>
</section>