<section class="protfolio" id="protfolio">
    <div class="container">
        <div class="heading">
            <h2>Projectos</h2>

            <p>Amostras dos meu últimos trabalhos</p>
        </div>
        <div class="portfolioFilter">
            <ul>
                <li><a href="#" data-filter="*" class="current">Tudo</a></li>
                <li><a href="#" data-filter=".photos">Photos</a></li>
                <li><a href="#" data-filter=".branding">Branding</a></li>
                <li><a href="#" data-filter=".illustration">Illustration</a></li>
            </ul>
        </div>
        <ul class="portfolioContainer row">
            {% for projecto in site.categories['projecto'] %}
            <li class="branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="lightCon">
                        <span class="hoverBox"> <span class="smallIcon">
                            <a rel="lightbox-demo" href="images/portfolio/big/1.jpg" title="Project Title1" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a>
                            <a href="https://maizergomes.github.io/iEduSoft" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></a>
                        </span> </span> <img src="https://placehold.it/450x450&text=image1" alt=""></div>
            </li>
            {%endfor%}
        </ul>
    </div>
</section>