<section class="protfolio" id="protfolio">
    <div class="container">
        <div class="heading">
            <h2>Projectos</h2>

            <p>Amostras dos meu últimos trabalhos</p>
        </div>
        <div class="portfolioFilter">
            <ul>
                <li><a href="#" data-filter="*" class="current">Todos</a></li>
                <li><a href="#" data-filter=".laravel">Laravel</a></li>
                <li><a href="#" data-filter=".php">PHP</a></li>
                <li><a href="#" data-filter=".html">HTML</a></li>
            </ul>
        </div>
        <ul class="portfolioContainer row">
            {% for projecto in site.categories['projecto'] reversed %}

            {%endfor%}
        </ul>
    </div>
</section>