<section class="footer" id="footer">
    <div class="container">
        <ul>
            <li>
                <a href="https://github.com/{{site.github_username}}" target="_blank" title="GitHub"><i class="fa fa-github fa-2x"></i></a>
            </li>
            <li>
                <a href="https://bitbucket.org/{{site.bitbucket_username}}" target="_blank" title="BitBucket"><i class="fa fa-bitbucket fa-2x"></i></a>
            </li>
            <li>
                <a href="https://facebook.com/{{site.facebook_username}}" target="_blank" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
            </li>
            <li>
                <a href="https://plus.google.com/u/0/+{{site.facebook_username}}" title="Google+" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
            </li>
            <li>
                <a href="https://instagram.com/{{site.instagram_username}}" title="Instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/{{site.twitter_username}}" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            </li>
        </ul>
    </div>
</section>

