<section class="footer" id="footer">
  <div class="container">
    <ul>
      <li><a href="https://github.com/MaizerGomes" target="_blank" title="GitHub"><i class="fa fa-github fa-2x"></i></a></li>
      <li><a href="https://bitbucket.org/MaizerGomes" target="_blank" title="BitBucket"><i class="fa fa-bitbucket fa-2x"></i></a></li>
      <li><a href="https://facebook.com/maizer.gomes" target="_blank" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
      <li><a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
      <li><a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
    </ul>
  </div>
</section>

